<!DOCTYPE html>
<html ng-app="VentureApp">
<head lang="en">
    <link rel="stylesheet" href="app/style/bootstrap.min.css" />
    <link rel="stylesheet" href="app/style/main.css" />
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div id="container" ng-controller="Main">
        <div id="header">
            <div id="header-title">
                <h2>The Terminalator</h2>
            </div>
        </div>
        <div id="terminal-container">
            <div id="terminal">
                <div id="history">
                    <ul>
                        <li ng-repeat="item in app.apiReturns track by $index">
                            [{{item.command}}] <br />
                            <span ng-show="item.success">{{item.id}}: {{item.value}}</span>
                            <span ng-show="!item.success">{{item.error}}</span>
                        </li>
                    </ul>
                </div>
                <div id="terminal-input">
                    <input type="text" placeholder="Enter commands here" ng-model="cmdLine" ng-enter="submitLine(cmdLine);" /> <br />
                    <div id="terminal-icons">
                        <i title="placeholder for batch mode import" class="glyphicon glyphicon-open"></i>
                        <i title="placeholder for exporting command history to text" class="glyphicon glyphicon-save"></i>
                    </div>
                </div>
            </div>
        </div>
        <div id="model-charts">
            <div id="model-container">
                <div id="model">
                    <ul>
                        <li ng-repeat="item in app.directives">
                            [{{item.text}}]
                        </li>
                    </ul>
                </div>
                <input type="text" placeholder="Enter inference syntax" ng-model="inferLine" ng-enter="submitLine(inferLine);" /> <br />
                <div id="model-icon">
                    <i ng-click="inferCont();" class="glyphicon glyphicon-play" title="temporary to kick off a simulation of continuous inference... will be removed"></i>
                    <i ng-click="stopInfer();" class="glyphicon glyphicon-stop" title="temporary to stop a simulation of continuous inference... will be removed"></i>
                </div>
            </div>
            <div id="charts">
                <histo-margins xdata="xData" ydata="yData"></histo-margins>
                <div id="chart-controls">
                    <div id="x-choices">
                        <h3 ng-show="app.assumes.length>0">Choose X</h3>
                        <ul>
                            <li ng-repeat="item in app.assumes">
                                <input type="radio" ng-model="$parent.chosenX" value="{{item.type}}" ng-change="changeX()"/> {{item.type}}
                            </li>
                        </ul>
                    </div>
                    <div id="y-choices">
                        <h3 ng-show="app.assumes.length>0">Choose Y</h3>
                        <ul>
                            <li ng-repeat="item in app.assumes">
                                <input type="radio" ng-model="$parent.chosenY" value="{{item.type}}" ng-change="changeY();" /> {{item.type}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="app/vendor/underscore-min.js"></script>
<script src="app/vendor/d3.min.js"></script>
<script src="app/vendor/angular.min.js"></script>
<script src="app/vendor/angular-route.min.js"></script>
<script src="app/js/app.js"></script>
<script src="app/js/services/helpers.js"></script>
<script src="app/js/services/services.js"></script>
<script src="app/js/directives/histo-marginal.js"></script>
<script src="app/js/directives/directives.js"></script>
<script src="app/js/controllers/main.js"></script>
</html>