<!DOCTYPE html>
<html ng-app="VentureApp">
<head lang="en">
    <link rel="stylesheet" href="app/style/bootstrap.min.css" />
    <link rel="stylesheet" href="app/style/main.css" />
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div id="container" ng-controller="Main">
        <div id="header">
            <div id="header-title">
                <h2>The Terminalator</h2>
                <i title="set host name" class="glyphicon glyphicon-wrench" ng-click="openModal()"></i>
            </div>
        </div>
        <div id="terminal-container">
            <div id="terminal-custom">
                <div id="terminal">
                    <div id="history">
                        <ul>
                            <li ng-repeat="item in app.apiReturns track by $index">
                                [{{item.command}}] <br />
                                <span ng-show="item.success">{{item.id}}: {{item.value}}</span>
                                <span ng-show="!item.success">{{item.error}}</span>
                            </li>
                        </ul>
                    </div>
                    <div id="terminal-input">
                        <input type="text" placeholder="Enter commands here" ng-model="cmdLine" ng-enter="submitLine(cmdLine);" /> <br />
                        <div id="terminal-icons">
                            <i title="placeholder for batch mode import" class="glyphicon glyphicon-open"></i>
                            <i title="placeholder for exporting command history to text" class="glyphicon glyphicon-save"></i>
                        </div>
                    </div>
                </div>
                <div id="custom">
                    <label>Choose Custom Graph: </label>
                        <input type="text" ng-model="show" ng-enter="chooseCustom(show)" />
                    <!--ENTER CUSTOM DIRECTIVES HERE --> <!-- <yourdirectivename ng-show="chustomShow=='yourcall' chart-data="graphData></yourdirectivename> -->
                    <make-histogram ng-show="customShow=='makeHistogram'" chart-data="graphData"></make-histogram>
                    <make-barchart ng-show="customShow=='makeBarChart'" chart-data="graphData"></make-barchart>
                    <!--END ENTERING CUSTOM DIRECTIVES -->
                </div>
            </div>
        </div>
        <div id="model-charts">
            <div id="model-container">
                <div id="model">
                    <table>
                        <tr ng-repeat="item in app.directives track by item.symbol">
                            <td class="instruction">{{item.instruction}}</td>
                            <td class="symbol">{{item.symbol}}</td>
                            <td class="expression"><div>{{item.expression}}</div></td>
                            <td class="value">{{item.value}}</td>
                            <td><i class="glyphicon glyphicon-pause" ng-click="freeze(item)"></i></td>
                            <td><i class="glyphicon glyphicon-minus" ng-click="clear(item)"></i></td>
                            <td><input type="radio" ng-model="$parent.chosenX" value="{{item.symbol}}" ng-change="changeX()"/></td>
                            <td><input type="radio" ng-model="$parent.chosenY" value="{{item.symbol}}" ng-change="changeY();" /></td>
                        </tr>
                    </table>
                </div>
                <input type="text" placeholder="Enter inference syntax" ng-model="inferLine" ng-enter="submitLine(inferLine);" /> <br />
                <div id="model-icon">
                    <i ng-click="inferCont();" class="glyphicon glyphicon-play" title="temporary to kick off a simulation of continuous inference... will be removed"></i>
                    <i ng-click="stopInfer();" class="glyphicon glyphicon-stop" title="temporary to stop a simulation of continuous inference... will be removed"></i>
                </div>
            </div>
            <div id="charts">
                <cont-cont ng-show="chartType=='cont-cont'" chart-type="chartType" chart-data="graphData"></cont-cont>
                <cont-disc ng-show="chartType=='cont-disc'" chart-type="chartType" chart-data="graphData"></cont-disc>
            </div>
        </div>
    </div>
</body>
<script src="app/vendor/underscore-min.js"></script>
<script src="app/vendor/d3.min.js"></script>
<script src="app/vendor/angular.min.js"></script>
<script src="app/vendor/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script src="app/js/app.js"></script>
<script src="app/js/app.js"></script>
<script src="app/js/services/helpers.js"></script>
<script src="app/js/services/services.js"></script>
<script src="app/js/services/values.js"></script>
<script src="app/js/directives/cont-cont.js"></script>
<script src="app/js/directives/cont-disc.js"></script>
<script src="app/js/directives/directives.js"></script>
<script src="app/js/controllers/main.js"></script>
<!--ENTER CUSTOM VIZ FILES HERE --> <!--script src="custom/yourfilename></script>-->
<script src="custom/custom-example1.js"></script>
<script src="custom/custom-example2.js"></script>
</html>