/************************/
/***General Styling******/
/************************/
html, body, #container {
    width: 100%;
    height: 100%;
    margin:0;
    background-color:black;
}

ul {
    list-style: none;
    margin:0;
    padding:0;
}

div {
    position:relative;
}

h2,h3,h6 {
    margin:0;
    padding: 0;
}

/************************/
/*******Server Modal******/
/************************/
#assign-modal {
    width:200px;
    margin: 0 auto;
}

#assign-modal div {
    margin:0 auto;
}

#assign-modal button {
    text-align:center;
}

/************************/
/*********Header*********/
/************************/
#header {
    width:100%;
    height:30px;
    float:left;
}

#header-title {
    float:left;
}

#header-title {
    height:100%;
    width:50%;
    float:none;
    background-color:midnightblue;
    color: lightgray;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
}

/*********************************/
/*Terminal, Model, and Chart******/
/*********************************/
#terminal-container, #model-charts {
    float:left;
    margin-top:2%;
    width:50%;
    height:91%;
}

#model-container {
    float:left;
    width:100%;
    height:50%;
}

#terminal-custom {
    float:left;
    width:100%;
    height:100%;
}

#terminal {
    width:90%;
    height:50%;
    margin: 0 auto;
    float:none;
    color:greenyellow;
}

#custom {
    width:100%;
    height:50%;
}

#custom div {
    width:100%;
    height:100%;
}

#history {
    float:left;
    width:100%;
    height:80%;
    overflow-y:auto;
    background-color:darkslategray;
    border-style: outset;
}

#terminal-input {
    float:left;
    width:100%;
    height:10%;
    color:black;
}

#terminal-input #terminal-icons {
    float:right;
    color: lightgray;
}

#terminal-input #terminal-icons i {
    margin:2px 10px 0 0;
    font-size:16px;
    cursor:pointer;
}

#terminal-input input {
    width: 100%;
}

#model-container input {
    width:90%;
    margin:0 auto;
    display:block;
}

#model {
    width:90%;
    height: 80%;
    overflow-y:auto;
    background-color:lightblue;
    border-style:outset;
    color:black;
    margin: 0 auto;
}

#choose-metrics {
    width: 40%;
    height: 30%;
    overflow-y: auto;
    background-color: lightblue;
    border-style: outset;
    color: black;
}

#model table {
    table-layout: fixed;
    width:100%;
}

#model table td {
    width:3%;
}

#model table td.instruction {
    width:10%;
}

#model table td.expression {
    width:30%;
}

#model table td.expression div {
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display:block;
    position:relative;
    float:left;
    width:100%;
}

#model table td.symbol {
    width:10%;
}

#model table td.value {
    width:20%;
}

#model-icon {
    float:right;
    margin-right: 50px;
    margin-top: -15px;
    color:lightgray;
}

#charts {
    float:left;
    width:100%;
    height:50%;
}

#charts div {
    float:left;
    width:100%;
    height:100%;
}





